#poker-table-body {
    height: 100%;
    width: 73%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#poker-table {
    min-width: 850px;
    width: calc(100% - 180px);
    height: 400px;
    background-color: #4aad4a;
    border-radius: 150px;
    position: relative;
    border: 15px solid #a95555;
}

#poker-table::before {
    content: "";
    border: 7px solid rgba(0, 0, 0, 0.1);
    display: block;
    width: calc(100% + 15px);
    height: 415px;
    border-radius: 150px;
    position: absolute;
    top: -15px;
    left: -15px;
}

#table-name {
    position: absolute;
    top: 30%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    box-sizing: border-box;
    display: flex;
    color: #63c763;
    font-family: cursive;
    font-size: 2rem;
}

#cards-place {
    border: 5px solid #63c763;
    height: 100px;
    width: 450px;
    position: absolute;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    box-sizing: border-box;
    display: flex;
    z-index: 1001;
}

#cards-place > div {
    margin: 10px 5px 10px 5px;
}

#cards-place > div:first-child {
    margin: 10px 5px 10px 10px !important;
}

#cards-place > div:last-child {
    margin: 10px 10px 10px 5px;
}

#players {
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 101;
}

#players .player {
    position: absolute;
}


.avatar {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    position: relative;
    box-shadow: 2px 10px 0px rgba(0, 0, 0, 0.4);
    z-index: 21;
}

.player.inactive {
    opacity: .4;
}

.avatar::after {
    content: "";
    width: 70px;
    height: 70px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.1);
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    border-radius: 100%;
    box-shadow: 0 5px 0  rgba(0, 0, 0, 0.2);

}

#player1 {
    top: 50%;
    left: 0;
    transform: translateX(-50%) translateY(-50%) rotatez(-90deg);
}

#player1 > .avatar {
    background-color: lightcoral;
}

.seat-1 {
    color: lightcoral;
}

#player2 {
    top: 0;
    left: 25%;
    transform: translateX(-50%) translateY(-50%);
}

#player2 > .avatar {
    background-color: rgb(68, 68, 68);
}

.seat-2 {
    color: rgb(68, 68, 68);
}

#player3 {
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#player3 > .avatar {
    background-color: dodgerblue;
}

.seat-3 {
    color: dodgerblue;
}

#player4 {
    top: 0;
    left: 75%;
    transform: translateX(-50%) translateY(-50%);
}

#player4 > .avatar {
    background-color: goldenrod;
}

.seat-4 {
    color: goldenrod;
}

#player5 {
    top: 50%;
    right: 0;
    transform: translateX(50%) translateY(-50%) rotate(90deg);
}

#player5 > .avatar {
    background-color: crimson;
}

.seat-5 {
    color: crimson;
}

#player6 {
    bottom: 0;
    left: 75%;
    transform: translateX(-50%) translateY(50%) rotateZ(180deg);
}

#player6 > .avatar {
    background-color: forestgreen;
}

.seat-6 {
    color: forestgreen;
}

#player7 {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) translateY(50%) rotate(180deg);
}

#player7 > .avatar {
    background-color: cyan;
}

.seat-7 {
    color: cyan;
}

#player8 {
    bottom: 0;
    left: 25%;
    transform: translateX(-50%) translateY(50%) rotateZ(180deg);
}

#player8 > .avatar {
    background-color: gold;
}

.seat-8 {
    color: gold;
}

.name {
    text-align: center;
    width: 100px;
    color: #96e296;
    padding: 5px;
    margin-left: 10px;
    box-sizing: border-box;
    border: 2px solid #96e296;
    border-radius: 5px;
    margin-top: 15px;
    font-size: .9rem;
    overflow: hidden;
    position: relative;
    min-height: 30px;
}

.poker-card {
    height: 65px;
    width: 45px;
    position: absolute;
    bottom: 0;
    border: 1px solid black;
    border-radius: 5px;
    z-index: 30;
}

.poker-card.is-user {
    cursor: pointer;
    transition: box-shadow 1.5s ease-in-out;
}

.poker-card.is-user.vote {
    box-shadow: 0 0 15px white;
}

.poker-card.is-user:hover {
    border: 2px solid black;
    border-radius: 5px;
    left: -51px;
    bottom: -1px;
}

.player-indicator {
    position: absolute;
    bottom: 3px;
    left: 117px;
    color: gold;
    transform: rotate(90deg);
    transition: all .5s ease;
}

.vote-information {
    padding: 2px 6px;
    border: 1px solid black;
    background-color: white;
    border-radius: 100%;
    position: absolute;
    bottom: -37px;
    left: -40px;
    color: black;
    transform: rotate(90deg);
    font-size: .9rem;
}

.flipper .poker-card-front, .flipper .poker-card-back {
    height: 65px;
    width: 45px;
    border-radius: 5px;
    /* position: relative; */
    display: flex;
    flex-direction: column;
}

.poker-card-front {
    border: 1px solid black;
}

.bank {
    position: absolute;
    top: 92px;
    left: 110px;
    height: 40px;
    width: 40px;
}

.chip {
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    border: 2px white dotted;
    box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
    background-color: white;
}

.chip.v5 {
    background-color: crimson;
}

.chip.v10 {
    background-color: blue;
}

.chip.v25 {
    background-color: black;
}

.chip.v50 {
    background-color: gold;
}


.bank .chip.v10 {
    right: 3px;
}

.bank .chip.v25 {
    top: 18px;
    right: 33px;
}

.bank .chip.v50 {
    top: 20px;
    right: 10px;
}

.remove-player-btn {
    opacity: 0;
    pointer-events: none;
    color: black;
    font-size: 1.5rem;
    position: absolute;
    left: 0;
    top: 0;
    margin: auto;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 22;
}

.avatar:hover .remove-player-btn {
    opacity: .5;
    pointer-events: all;
}

.x-img-remove {
    height: 20px;
    pointer-events: all;
    cursor: pointer;
}

#flip-count-down {
    position: absolute;
    right: 25px;
    top: 10px;
    font-size: 1rem;
}

#admin-action-container {
    position: absolute;
    left: 165px;
    top: 126px;
}

#admin-action-btn {
    height: 45px;
    transform: rotateZ(90deg);
    cursor: pointer;
}

.bet-container {
    position: absolute;
    top: 170px;
    left: 50%;
    -webkit-transform: translatex(-50%);
    transform: translatex(-50%);
    height: 40px;
    width: 60px;
}

.spade {
    height: 8px;
    position: absolute;
}

#spade1 {
    top: 3px;
    left: 3px;
}

#spade2 {
    top: 3px;
    right: 3px;
}

#spade3 {
    bottom: 3px;
    left: 3px;
}

#spade4 {
    bottom: 3px;
    right: 3px;
}

#player1 .vote-cards-container .vote-cards-inside-container .poker-card:nth-child(1) {
    left: -2px !important;
    z-index: 19;
}

#player1 .vote-cards-container .vote-cards-inside-container .poker-card:nth-child(2) {
    left: -4px !important;
    z-index: 18;
}

#player .vote-cards-container .vote-cards-inside-container .poker-card:nth-child(3) {
    left: -6px !important;
    z-index: 17;
}

#player2 .vote-cards-container .vote-cards-inside-container .poker-card:nth-child(1), #player3 .vote-cards-container .vote-cards-inside-container .poker-card:nth-child(1), 
#player4 .vote-cards-container .vote-cards-inside-container .poker-card:nth-child(1) {
    bottom: -2px !important;
    z-index: 19;
}

#player2 .vote-cards-container .vote-cards-inside-container .poker-card:nth-child(2), #player3 .vote-cards-container .vote-cards-inside-container .poker-card:nth-child(2), 
#player4 .vote-cards-container .vote-cards-inside-container .poker-card:nth-child(2) {
    bottom: -4px !important;
    z-index: 18;
}

#player2 .vote-cards-container .vote-cards-inside-container .poker-card:nth-child(3), #player3 .vote-cards-container .vote-cards-inside-container .poker-card:nth-child(3), 
#player4 .vote-cards-container .vote-cards-inside-container .poker-card:nth-child(3) {
    bottom: -6px !important;
    z-index: 17;
}

#player5 .vote-cards-container .vote-cards-inside-container .poker-card:nth-child(1) {
    left: -8px !important;
    z-index: 19;
}

#player5 .vote-cards-container .vote-cards-inside-container .poker-card:nth-child(2) {
    left: -6px !important;
    z-index: 18;
}

#player5 .vote-cards-container .vote-cards-inside-container .poker-card:nth-child(3) {
    left: -4px !important;
    z-index: 17;
}

#player6 .vote-cards-container .vote-cards-inside-container .poker-card:nth-child(1), #player7 .vote-cards-container .vote-cards-inside-container .poker-card:nth-child(1), 
#player8 .vote-cards-container .vote-cards-inside-container .poker-card:nth-child(1) {
    bottom: 2px !important;
    z-index: 19;
}

#player6 .vote-cards-container .vote-cards-inside-container .poker-card:nth-child(2), #player7 .vote-cards-container .vote-cards-inside-container .poker-card:nth-child(2), 
#player8 .vote-cards-container .vote-cards-inside-container .poker-card:nth-child(2) {
    bottom: 4px !important;
    z-index: 18;
}

#player6 .vote-cards-container .vote-cards-inside-container .poker-card:nth-child(3), #player7 .vote-cards-container .vote-cards-inside-container .poker-card:nth-child(3), 
#player8 .vote-cards-container .vote-cards-inside-container .poker-card:nth-child(3) {
    bottom: 6px !important;
    z-index: 17;
}

.poker-card-value {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.top-suit, .bottom-suit {
    font-size: .6rem;
}

.top-suit {
    padding: 3px 0 0 3px;
    margin-right: auto;
}

.bottom-suit {
    padding: 0 3px 3px 0;
    margin-left: auto;
}

#average-container {
    position: absolute;
    width: max-content;
    top: 65%;
    left: 0;
    right: 0;
    margin: auto;
    color: palegreen;
}

#user-vote-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: max-content;
    min-height: 100px;
    min-width: 400px;
    width: max-content;
    background: white;
    z-index: 10000;
    opacity: .2;
    border: 1px solid black;
    border-radius: 3px;
}

.vote-card {
    display: flex;
    justify-content: center;
    min-width: min-content;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    font-size: 1.5rem;
    flex-direction: column;
    height: 100px;
    width: 60px;
    background-color: ghostwhite;
    color: black;
    border-radius: 5px;
    border: 1px solid black;
    margin: 10px;
    cursor: pointer;
    box-shadow: 0 0 4px black;
    position: relative;
}

.vote-card:hover::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background-color: whitesmoke;
    top: calc(100% + 10px);
}

#vote-container {
    display: flex;
}

.vote-card-body {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

#vote-container-header {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
}

#close-vote {
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 2rem;
    cursor: pointer;
}

.vote-cards-container {
    position: absolute;
    bottom: 0;
    left: -50px;
    height: min-content;
    width: min-content;
}

.vote-cards-inside-container {
    position: relative;
    height: min-content;
    width: min-content;
}