.tab-container {
    display: flex;
    margin-top: auto;
    user-select: none;
}

.tab {
    cursor: pointer;
    position: relative;
    padding: 1rem;
    width: max-content;
    color: lightgray;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

.tab:not(.disabled).active {
    color: dodgerblue;
}

.tab:not(.disabled).active::after {
    position: absolute;
    content: "";
    height: 2px;
    width: 98%;
    background: dodgerblue;;
    bottom: -2px;
    left: 0;
}

.tab:not(.disabled):not(.active):hover::after {
    position: absolute;
    content: "";
    height: 2px;
    width: 98%;
    background: lightgray;
    bottom: -2px;
    left: 0;
}

.tab > span {
    padding-right: 8px;
}

.tab.disabled {
    color: grey;
}